
.pullquote {
	float: right;
	width: 100px;
	background-color: yellow;
}
p {
	text-align: center;
	margin-left: 5%;
	margin-right: 10%;
}

.firstLevelTitle {
	color: blue;
	text-align: center;
}

.secondLevelTitle {
	color: cyan;
	text-align: center;
}

.question {
	margin-left: 2.5%;
}

#header {
	
	text-align: center;
}